Stakeholders:
- *Library staff 

Functional requirements:
- The software is capable of tagging one or more persons in a photo
- The software stores the data entered in a general metadata file and in a separate file
- The software would recognize the known faces in a given set of photos
- The GUI application displays the photos to be tagged or recognized
- The software is not capable of modifying or removing any of the photos

Non-functional requirements:
- Reliability: the recognition of faces should be done accurately
- Usability: the GUI should be easy-to-use where the features should afford its functionalities
- Speed: the recognition of faces in photos should take reasonable time
- Installability: the environment should be installed easily without any need for a technical background

* The software is designed for this specific purpose to be used for organizing its digital archives
of photographs. However, the software could be used for any facial recognition purposes
with no or minor adjustments depending on the requirements.
